.items{
    background: white;
}
.title {
    font-size: 54px;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.03em;
    user-select: none;
}

.headText{
    font-family: Gilroy;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    font-style: normal;
    text-align: center;
    margin-bottom: 56px;
    padding: 0 20px;
}

.imageContainer{
    overflow-x: auto;
    padding: 0 10px 14px 10px;
    justify-content: center;
}

.activityContainer{
    margin: auto;
    display: flex;
    max-height: 681px;
    user-select: none;
}

.imageBlock{
    margin-right: 9px;
    height: auto;
}

.downImageContainer{
    padding-top: 9px;
    display: flex;
}

.topImageContainer{
    padding-bottom: 9px;
    display: flex;
}

.firstSmollImage{
    padding-right: 9px;
}

@media screen and (min-width: 1377px) and (max-width: 1440px) {
    .title {
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
    .headText{
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 768px){
    .bigImg{
        width: 357px;
        height: 279px;
    }

    .smallImg{
        width: 173px;
        height: 175px;
    }

    .downImageContainer{
        padding-top: 7px;
    }

    .topImageContainer{
        padding-bottom: 7px;
        display: flex;
    }
    .imageBlock{
        margin-right: 7px;
    }
    .headText {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 610px) {
    .image {
        height: 40px;
    }
    .headText {
        font-size: 18px;
    }
}