.social {
  display: flex;
  margin-bottom: 26px;
}

.socialContainer {
  cursor: pointer;
  background: #083f94;
  border-radius: 50px;
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialContainer + .socialContainer {
  margin-left: 25px;
}

.socialImg {
  margin: 0;
}

@media screen and (max-width: 768px){
.socialContainer{
  width: 60px;
  height: 60px;
}
.socialImg{
  height: 30px;
}
.social{
  margin-bottom: 22px;
}
}

@media screen and (max-width: 610px){
.socialContainer{
  width: 37px;
  height: 37px;
}
.socialImg{
  height: 18px;
}
.social{
  margin-bottom: 16px;
}
.socialContainer + .socialContainer {
  margin-left: 15px;
}
}