.image {
  width: 89px;
  height: 79px;
}

.backgroud {
  /* background-image: url("../../static/images/bg_wave_up.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain; */
  position: absolute;
  /* top: 0px; */
}

.content {
  margin-top: 60px;
}
