.main {
  position: relative;
}

.title {
  margin-top: 70px;
}

.image {
  width: 89px;
  height: 79px;
  margin-bottom: 0;
}

.backgroud {
  position: absolute;
  top: 0;
  z-index: 0;
  max-width: 100%;
}

.content {
  margin-top: 60px;
}

.wrapper {
  z-index: 1;
  position: relative;
}
.men {
  position: absolute;
  right: 15px;
  bottom: -100px;
  max-width: 435px;
  max-height: 381px;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #000000;

  line-height: 32px;
}
