.header {
	/* height: 100%;
	background-image: url("../../static/images/rupor.svg");
	background-repeat: no-repeat;
	background-size: contain; */
	user-select: none;
	position: relative;
}

.ruporHeader {
	width: 100%;
	pointer-events: none;
}

.need {
	font-style: normal;
	font-weight: normal;
	font-size: 2.8vw;
	color: #ffffff;
	line-height: 100%;
	user-select: none;
}
.position {
	margin-top: 24px;
	font-style: normal;
	font-weight: bold;
	font-size: 5.39vw;
	line-height: 100%;
	color: #ffffff;
	user-select: none;
}

.carousel {
	/* margin: auto;
	display: grid; */
}


.btn.active {
	background-color: #b90038;
	color: #ffffff;
}
.btn:focus {
	color: #ffffff;
}
.btn:hover {
	text-decoration: none;
	background-color: #b90038;
	cursor: pointer;
}
.clientIcon {
	margin: 20px 40px 0 0;
}

.ourClients {
	font-size: 24px;
	color: #ffffff;
}

@media (max-width: 767px) {
	.header {
		max-height: 402px;
		height: 100vh;
		background: #0047b3;
		min-height: initial !important;
	}
}
.scroll .burgerBlue {
	display: none;
}

.scroll .burgerWhite {
	display: block;
}

.content {
	position: absolute;
	top: 200px;
}

.raiting {
	position: absolute;
	right: 280px;
	bottom: 130px;
}

.raiting img {
	vertical-align: top;
}
.btn {
	background: #e82b37;
	color: #ffffff !important;
	border-radius: 40px;
	font-size: 24px;
	line-height: 110%;
	font-weight: normal;
	width: 330px;
	padding: 25px 0px;
	margin-top: 28px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.clients {
	position: absolute;
	bottom: 190px;
}

@media screen and (max-width: 1700px) {
	.content {
		top: 150px;
	}
	.clients {
		bottom: 180px;
	}
	.raiting {
		right: 236px;
		bottom: 115px;
	}
}
@media screen and (max-width: 1600px) {
	.clients {
		bottom: 160px;
	}
	.raiting {
		right: 213px;
		bottom: 92px;
	}
}
@media screen and (max-width: 1500px) {
	.content {
		left: 20px;
	}
	.clients {
		left: 20px;
	}
	.btn {
		margin-bottom: 50px;
	}
	.raiting {
		bottom: 50px;
		right: 190px;
	}
}

@media screen and (max-width: 1400px) {
	.raiting {
		bottom: 30px;
		right: 170px;
	}
}

@media screen and (max-width: 1300px) {
	.btn {
		padding: 15px;
		width: 250px;
		margin: 16px 0px 58px 0px;
	}
	.position {
		font-size: 48px;
		margin-top: 16px;
	}
	.raiting {
		bottom: 20px;
		right: 150px;
	}
}

@media screen and (max-width: 1200px) {
	.raiting {
		right: 100px;
		bottom: 20px;
	}
}
