.header {
    background-size: contain;
    position: relative;
    user-select: none;
}

.rupor-header {
    width: 100%;
    pointer-events: none;
}

.navContainer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    top: 0;
    min-width: 100%;
    z-index: 100;
    position: fixed !important;
}

.contResp {
    display: none;
}

.flyout{
    right: 11%;
    position: absolute;
    left: 11%;
}
.logo {
    margin: 30px 0 10px 0;
    pointer-events: none;
}
.logoLink{
    text-decoration: none;
    padding-bottom: 25px;
    display: inline-grid;
}

.ruporHeader{
    width: 100%;
    pointer-events: none;
}

.flyoutButtons{
    width: 100%;
}
.bottomLogo{
    font-family: GilroyRegular;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 100%;
}
.navbarRight {
    float: right;
    display: flex;
}

.linkImg {
    color: #000000;
    font-family: GilroyRegular;
    text-decoration: none !important;
    display: block;
    padding: 20px 15px 3px 15px;
    margin: 23px 0 0 0;
    font-size: 18px;
    line-height: 22px;
}

.scroll .linkImg {
    color: #FFFFFF !important;
}

.level1:before{
    display: block;
    position: relative;
    content: "";
    height: 2px;
    left: 50%;
    width: 0;
    background: currentColor;
    bottom: -24px;
    transition: width .3s ease-in-out,left .3s ease-in-out;
}

.level1:hover:before{
    width: 50%;
    left: 0;
}

.level1:after{
    display: block;
    position: relative;
    content: "";
    height: 2px;
    width: 0;
    background: currentColor;
    left: 50%;
    transition: width 0.3s ease-in-out;
}

.level1:hover:after{
    width: 50%;
}

.scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    min-width: 100%;
    background-color: #0047B3;
    z-index: 999;
}

.scroll a{
    color: white;
}

.scroll .burgerBlue{
    display: none;
}

.scroll .burgerWhite{
    display: block;
}

.send {
    position: absolute;
    top: 29%;
    left: 0;
    user-select: none;
}

.need {
    font-style: normal;
    font-weight: normal;
    font-size: 2.8vw;
    color: #FFFFFF;
    line-height: 100%;
    user-select: none;
}

.position {
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 5.39vw;
    line-height: 100%;
    color: #FFFFFF;
    user-select: none;
}

.carousel {
    margin: auto;
    display: grid;
}

.clientIcon {
    margin: 20px 40px 0 0;
}

.ourClients{
    font-family: GilroyRegular;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 100px;
}

.btn{
    background-color: #E82B37;
    color: #FFFFFF !important;
    border-radius: 40px;
    padding: 25px;
    margin: 10px;
    min-width: 200px;
    margin-top: 28px;
    font-size: 24px;
    line-height: 110%;
    font-weight: normal;
    max-width: 330px;
    text-align: center;
}

.btn.active {
    background-color: #b90038;
    color: #FFFFFF;
}
.btn:focus {
    color: #FFFFFF;
}

@media screen and (max-width: 1170px) {
    .flyout {
        right: 0;
        left: 0;
    }
}

@media (max-width: 767px){
    .header {
        max-height: 402px;
        height: 100vh;
        background: #0047B3;
        min-height: initial !important;
    }
}

