.title {
  margin-top: 72px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #142130;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}

.globalContainer {
  max-width: 1429px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
}


@media screen and (max-width: 991px) {
  .title {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .subtitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .title{
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .subtitle {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .globalContainer {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 610px){
  .title{
    font-size: 40px;
    margin-top: 20px;
  }

  .subtitle {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
