.wrapper {
  background-color: #0047b3;
}

.titleFooter {
  margin-top: 72px;
  /*font-size: 48px;*/
  line-height: 59px;
  color: #ffffff;
}

.footerLogo{
  padding-bottom: 14px;
}


.inputContainer::before {
  content: " ";
  width: 100%;
  height: 1px;
  background: #ffffff;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
}

.input {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #ffffff;
  width: 100%;
  outline: none;
  background: inherit;
  border: none;
  padding-bottom: 15px;
}

.send {
  color: #0047b3 !important;
  cursor: pointer;
  height: 58px;
  background: #ffffff;
  border-radius: 30px;
  padding: 0 86px;
  margin-top: 58px;
  align-items: center;
  display: flex;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  justify-content: center;
}

.send:hover {
cursor: pointer;
background: #dee3eb;
}
.send:focus {
outline: none;
}

.text {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: flex-end;
text-align: center;
color: #ffffff;
}

.bookContainer {
max-width: 288px !important;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;

margin-top: 79px;
}

.contact {
display: flex;
align-items: center;
margin-top: 97px;
}

.contactText {
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 100%;
color: #ffffff;
margin-left: 25px;
}

.contactText + .contactText {
margin-left: 42px;
}

.image {
margin: 0px;
}

.submit {
margin-top: 30px;
width: 100%;
position: absolute;
justify-content: space-evenly;
display: flex;
}

.success {
composes: submit;
color: #4c0;
}

.fail {
composes: submit;
color: red;
}

@media screen and (max-width: 991px) {
  .titleFooter{
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px){
  .send {
    color: #102037 !important;
    line-height: 23px;
  }
  .image {
    height: 66px;
  }
}

@media screen and (max-width: 610px) {
  .image {
    height: 40px;
  }

  .contactText {
    font-size: 18px;
  }

  .send {
    height: 50px;
    min-width: 255px;
    padding: 0;
    margin-top: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .footerLogo {
    padding-bottom: 8px;
  }
}