.container {
  margin-top: 48px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fileName {
  margin-top: 10px;
  color: #ffffff;
  opacity: 0.7;
}

.image {
  position: absolute;
  right: 0;
  width: 12px;
  height: 24px;
  top: 12px;
  width: 24px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s all;
}
.image:hover {
  opacity: 0.5;
}

.attachFile {
  display: none;
}
